.first-container {
    text-align: center;
}

body {
    background-color: #A0C3D2;
    margin: 0;
    text-align: center;
    position: relative;
    padding-top: 5%;
}

h1 {
    width: 10%;
    margin: 5% auto;
}


p{
    width: 15%;
    margin: 5% auto;
}
.mrak1 {
    position: absolute;
    top: 7%;
    right: 30%

}
.mrak2 {
    position: absolute;
    top: 30%;
    left: 25%;
}

.hora {
    bottom: 0;
}